@import "_mediaq.scss";

//imprted fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

//variables
$colors: (star: #923737);
$fonts:(personName : "Rockwell");
$fontName: 24px;
$linear: (140deg, #56E4D3, #8643d8c2);

//Function for setting fonts
@function font($font-name) {
  @return map-get($map: $fonts, $key: $font-name)
}

;

//Function for setting colors
@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name)
}

;

//Display flex mixin
@mixin flexCenter ($direction, ) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

//Image Correction mixin
@mixin imgCorrection($size) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center center;
}

//Background Design Layer
.backgroundDesign {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(140deg, #56E4D3, #8543D8);
  clip-path: inset(0 0 73% 0);
  z-index: -1;
}

.projectWraper {
  height: 100%;
  padding: 0 30px;

  .header {
    font-size: 30px;
    text-align: center;
    padding-top: 20%;
    font-family: font(personName);
    font-weight: 600;

    @include resp(tablet) {
      font-size: 36px;
      padding-top: 15%;
    }

    @include resp(laptop) {
      padding-top: 10%;
    }

    @include resp(desktop) {
      padding-top: 5%;
      font-size: 60px;
    }
  }

  .main {
    margin-top: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @include resp(tablet) {
      margin-top: 20%;
      margin-bottom: 30px;
    }

    @include resp(laptop) {
      margin-top: 12%;
    }

    @include resp(desktop) {
      margin-top: 10%;
    }

    .imgHolder img {
      width: 100%;
      transition: 500ms;
      @include imgCorrection(contain);
      box-shadow: 5px 3px 8px grey;

      &:hover {
        transform: scale(1.1);
        box-shadow: none;
      }
    }
  }
}

//Navigation
.navigationBtn {
  position: absolute;
  right: 5%;
  top: 3%;

  .line {
    height: 14px;

    @include resp(tablet) {
      height: 20px;
    }

    @include resp(laptop) {
      height: 24px;
    }
  }
}

//JS nav
.nav {
  height: 70px;
  border-radius: 5px;
  background: linear-gradient(90deg, #56E4D3, #8643d8);
  @include flexCenter(row);
  justify-content: space-around;
  width: 80%;
  position: absolute;
  top: 3%;
  right: 11%;
  transition: .5s;

  @include resp(tablet){
    right: 10%;
  }

  @include resp(desktop){
    right: 8%;
  }

  .navLinks {
    //imported font
    font-family: 'Roboto',
      sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 50%;
    width: 100%;
    @include flexCenter(column);

    @include resp(tablet) {
      font-size: 24px;
    }
  }

  display: none;
}

.navActivated {
  display: flex;
  transform-origin: right top;
  animation: grow 0.2s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}